# Ignore build directories
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.userprefs

# Ignore Visual Studio Code workspace
.vscode/
.vscode/*
.vs

# Ignore Rider project files
.idea/

# Ignore log files
*.log

# Ignore package directories
**/packages
*.nuget/